// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul#items {
    border: red 1px solid;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    border: black 1px solid;
    margin: 1rem;
    border-radius: 20%;
    box-shadow: 1rem 2rem cadetblue;
}

.item img {
    display: block;
    max-width: 10rem;
    max-height: 10rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.item .link {
    padding: 2rem;
}

.item form{
    padding: 1rem;
    width: 50%; 
    margin: 0 auto;
}